@import "index.css";


* {
    font-family: 'Roboto', sans-serif;
}

html, body, #root, main {
    background-color: #fff;
    min-height: 90vh;
}

.topworkz {
    color: #000000;
}

.topworkz_nav a {
    color: #000000 !important;
}

.portfolio-block.block-intro .avatar {
    width: 286px;
}

.heading h2 {
    color: #000000;
}

.well {
    background-color: rgba(245, 245, 245, 0.6);
}

.edit-cust-profile {
    position: absolute;
    right: 7%;
    top: 12%;
    z-index: 999999999999999;
}

.admin{
    min-height: 85vh;
}

.admin-table{
    background-color: #d8c980;
}

.cust-weight {
    top: -33px;
    left: 16px;
}